@import "tailwindcss";


@theme {
  --font-sans: var(--font-young-serif);
  --font-mono: var(--font-young-serif);

  --font-ibm-plex-mono: var(--font-ibm-plex-mono);
}

/*  Custom CSS  */

:root {
  --background-color: #F2F2F2;
  --text-color: #1E1E1E;
}

* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100dvh;
  height: auto;
  width: 100%;
  overflow-x: hidden;

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-young-serif);

  --sb-track-color: transparent;
  --sb-thumb-color: #444444;
  --sb-size: 4px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

html::-webkit-scrollbar {
  width: var(--sb-size);
}

html::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

